.sidebar {
    margin: 0;
    padding: 0;
    padding-top: 0;
    width: 200px;
    background-color: #424874; 
    position: fixed;
    height: 100%;
    overflow: auto;
}

.content{
    margin: auto;
    width: 50%;
    padding: 150px;
    margin-left: 300px;
    padding-top: 100px;
    background-color: #DCD6F7; 
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    border-radius: 20px; 
    text-align: center;
}

.sidebar a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 16px;
    text-decoration: none;
}

.sidebar a:hover:not(.active) {
    background-color: #DCD6F7;
    color: rgb(0, 0, 0);
}

h2{
    color:rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    color:rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}