.content{
    margin: auto;
    width: 50%;
    padding: 150px;
    margin-left: 300px;
    padding-top: 100px;
    background-color: #DCD6F7; 
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    border-radius: 20px; 
    text-align: center;
}
