.button{
    padding: 14px 40px;;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-right: 10px;
    width: 200px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button:hover {
    background-color: #424874; 
    color: rgb(245, 245, 245);
}

.error{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #8D3B72
}

.passInput{
    padding-bottom: 20px;
}
